<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDS0O9Lff-9Am6q9IZUcPREhPxvN6mbsEo</string>
	<key>GCM_SENDER_ID</key>
	<string>642410894337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.magma.Trade-Coach</string>
	<key>PROJECT_ID</key>
	<string>trade-coach</string>
	<key>STORAGE_BUCKET</key>
	<string>trade-coach.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642410894337:ios:64b47590e07a274f78dc00</string>
	<key>DATABASE_URL</key>
	<string>https://trade-coach-default-rtdb.firebaseio.com</string>
</dict>
</plist>